<div class="app">
    
    <div class="race-track-container" *ngIf="state !== StateName.WAIT">
        <div class="race-track"></div>
        <div class="left-end-point"></div>
        <div class="right-end-point"></div>
        <div *ngFor="let player of players"[ngStyle]="{'left': 'calc(3px + ' + (player.position / questionCount * 100) + '%)'}" class="player">
            <div class="you-marker" *ngIf="player === me">
                <div>YOU</div>
                <div>&darr;</div>
            </div>
            <div class="player-name">{{player.name}}</div>
        </div>
    </div>

    <div class="divider"></div>

    <div *ngIf="state === StateName.PLAY">{{question?.text}}</div>
    <div *ngIf="state === StateName.WIN">You won!</div>
    <div *ngIf="state === StateName.LOSE">You lost...</div>

    <div class="divider"></div>
    
    <div class="choices-container" *ngIf="state === StateName.PLAY">
        <div *ngFor="let choice of question?.choices">
            <div class="button choice-button" (click)="choose(choice)">{{choice}}</div>
        </div>
    </div>
    <div class="button play-again-button" *ngIf="state !== StateName.PLAY" (click)="play()"> Play </div>
    
</div>
