.app {
    height: 100vh;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divider {
    height: 100px;
}

.choices-container {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.button {
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: black;
}

.choice-button {
    width: 150px;
}

.new-game-button {
    width: 300px;
    font-size: 40px;
}

.height-133 {
    height: 133px;
}

.score-container {
    border: 1px solid white;
    width: 500px;
    height: 20px;
}

.score {
    background-color: white;
    height: 100%;
}

.play-again-button {
    padding: 0 20px;
}

.name {
    font-size: 20px;
    margin-left: 10px;
}

.player-score {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

/* RACE TRACK */

.race-track-container {
    position: relative;
    display: flex;
    height: 20px;
    width: 600px;
}

.race-track {
    position: absolute;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    width: 100%;
    top: 10px;
    left: 10px;
}

.left-end-point {
    position: absolute;
    border: 1px solid white;
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    left: 0;
}

.right-end-point {
    position: absolute;
    border: 1px solid white;
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    left: 100%;
}

.player {
    position: absolute;
    border: 1px solid white;
    background-color: white;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    box-sizing: border-box;
    top: 3px;
}
