.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.choices-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 312px;
    margin-top: 50px;
}

.button {
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
}

@media (hover: hover) {
    .button:hover {
        background-color: white;
        color: black;
    }
}

.choice-button {
    width: 150px;
    margin-top: 10px;
    font-size: 50px;
}

.play-button {
    padding: 0 20px;
    margin-top: 50px;
    font-size: 50px;
}

.main-display {
    margin-top: 100px;
    font-size: 50px;
}

/* RACE TRACK */

.race-track-container {
    position: relative;
    display: flex;
    height: 20px;
    width: 85vw;
    left: -10px;
    margin-top: 100px;
}

.race-track {
    position: absolute;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    width: 100%;
    top: 10px;
    left: 10px;
}

.left-end-point {
    position: absolute;
    border: 1px solid white;
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    left: 0;
}

.right-end-point {
    position: absolute;
    border: 1px solid white;
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    left: 100%;
}

.player {
    position: absolute;
    border: 1px solid white;
    background-color: white;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    box-sizing: border-box;
    top: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-name {
    font-size: 15px;
    font-family: "Arial Narrow", Arial, sans-serif;
    position: absolute;
    top: -20px;
    left: 5px;
    white-space: nowrap;
    transform: rotate(-90deg);
    transform-origin: 0 50%;
}

.you-marker {
    font-size: 20px;
    font-family: "Arial Narrow", Arial, sans-serif;
    position: absolute;
    top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
