<div class="app">
    
    <div class="race-track-container" *ngIf="state !== StateName.WAIT">
        <div class="race-track"></div>
        <div class="left-end-point"></div>
        <div class="right-end-point"></div>
        <div class="player" *ngFor="let group of playerGroups" [ngStyle]="{'left': 'calc(3px + ' + (group.position / questionCount * 100) + '%)'}">
            <div class="you-marker" *ngIf="group.position === me.position">
                <div>&uarr;</div>
                <div style="margin-top: 5px;">YOU</div>
            </div>
            <div class="player-name" *ngIf="group.players.length === 1">{{group.players[0].name}}</div>
            <div class="player-name" *ngIf="group.players.length > 1">{{group.players.length}} players</div>
        </div>
    </div>

    <div class="main-display" *ngIf="state !== StateName.WAIT">
        <div *ngIf="state === StateName.PLAY">{{question?.text}}</div>
        <div *ngIf="state === StateName.WIN">
            <img class="result-image" src="/assets/win.jpg">
        </div>
        <div *ngIf="state === StateName.LOSE">
            <img class="result-image" src="/assets/lose.jpg">
        </div>
    </div>
    
    <div class="choices-container" *ngIf="state === StateName.PLAY">
        <div class="button choice-button" *ngFor="let choice of question?.choices" (click)="choose(choice)">
            <div> {{choice}} </div>
        </div>
    </div>
    <div class="button play-button" *ngIf="state !== StateName.PLAY && showPlayButton" (click)="play()">
        PLAY <span *ngIf="state !== StateName.WAIT">AGAIN</span>
    </div>
    
</div>
