<div class="app">
    <div>
        <div *ngFor="let player of players" class="player-score">
            <div class="score-container">
                <div class="score" [style.width]="(player.position / questionCount * 100)+'%'"></div>
            </div>
            <span class="name">{{player.name}} <span *ngIf="player === me"> &#8592; you</span></span>
        </div>
    </div>

    <div class="divider"></div>

    <div *ngIf="state === StateName.PLAY">{{question?.text}}</div>
    <div *ngIf="state === StateName.WIN">You won!</div>
    <div *ngIf="state === StateName.LOSE">You lost...</div>

    <div class="divider"></div>
    
    <div class="choices-container" *ngIf="state === StateName.PLAY">
        <div *ngFor="let choice of question?.choices">
            <div class="button choice-button" (click)="choose(choice)">{{choice}}</div>
        </div>
    </div>
    <div class="button play-again-button" *ngIf="state !== StateName.PLAY" (click)="play()"> Play </div>
    
</div>
