.app {
    height: 100vh;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divider {
    height: 100px;
}

.choices-container {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.button {
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: black;
}

.choice-button {
    width: 150px;
}

.new-game-button {
    width: 300px;
    font-size: 40px;
}

.footer {
    font-size: small;
    text-align: center;
}

.height-133 {
    height: 133px;
}

.score-container {
    border: 1px solid white;
    width: 500px;
    height: 50px;
}

.score {
    background-color: white;
    width: var(--score);
    height: 50px;
}