<div class="app">
    <div class="progress-container">
        <div class="progress-block" *ngFor="let answer of answers" [style.backgroundColor]="answer ? 'white' : 'black'"></div>
    </div>

    <div class="divider"></div>

    <div style="height: 150px;">
        <div *ngIf="state === 'ask'">{{left}} + {{right}} = ? </div>
        <div *ngIf="state === 'correct'">Correct!</div>
        <div *ngIf="state === 'incorrect'">Try again...</div>
        <div *ngIf="state === 'win'">
            <div>You win!</div>
            <div style="font-size:medium; text-align: center;">Press any key to play again.</div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="choices-container">
        <div *ngFor="let choice of choices">
            <div class="choice" (click)="choose(choice)">{{choice.value}}</div>
            <div class="choice-footer">{{choice.key}}</div>
        </div>
    </div>

</div>
