.app {
    height: 100vh;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    width: calc(var(--block-size) * var(--question-count) + calc(10px * (var(--question-count) - 1)));
}

.progress-block {
    border: 1px solid white;
    width: var(--block-size);
    height: var(--block-size);
}

.divider {
    height: 100px;
}

.choices-container {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.button {
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: black;
}

.choice-button {
    width: 150px;
}

.new-game-button {
    width: 300px;
    font-size: 40px;
}

.footer {
    font-size: small;
    text-align: center;
}

.height-133 {
    height: 133px;
}
